/* src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* 레이아웃 */
#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 1024px;
  max-width: 100vw;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 5rem 1fr;
}

  /* daisy ui 버튼 클릭 색상 변경
.btn-active {
  --fallback-p: #dedad5;
} */

/* 메인 배너 애니메이션 */
.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

 @-webkit-keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  