/* src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* 레이아웃 */
#root {
  display: flex;                 /* flexbox 사용 */
  flex-direction: column;        /* 세로 방향으로 배치 */
  min-height: 100vh;            /* 전체 화면 높이 사용 */
  width: 100vw;
  box-sizing: border-box;
}

/* 헤더 */
header {
  height: 80px;
  min-width: 1024px;
}

/* 메인 */
main {
  flex: 1;                       /* 남은 공간을 모두 차지하도록 설정 */
  min-width: 1024px;
}

/* 푸터 */
footer {
  height: 64px;
  min-width: 1024px;
}

/* daisy ui 버튼 클릭 색상 변경
.btn-active {
  --fallback-p: #dedad5;
} */

/* 메인 페이지 배너 */
#banner {
  height: calc(100vh-80px);
}